h1{
    color: grey;
}
h2{
    color:thickgray;
}
#Home-intro{
    text-align: center;
    background-color: lightgray;
    border: 3px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#Home-intro:hover{
    background-color: lightblue;
}
#p2{
    color: blue;
}
#nav{
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 25px;
    text-align: center;
    margin-bottom: 15px;
}
#nav a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
#card{
    width: 300px;
    border: 2px solid gray;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    text-align: center;

}
#card-img img{
    width: 100%;
    height: auto;

}
#card-data{
text-align: center;

}
body{
    background-color:lavender;

}
#card-btn{
    background-color: lightblue;
    border: 1px solid aqua;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}